# Available configuration values. May be provided in a file that
# the APP_CONFIG environment variable points to, or provided
# directly in the application.py code.
AWS_REGION = 'us-east-1'
IMAGE_INDEX_TABLE = 'image_index_table'
IMAGE_BUCKET = 'image_bucket_name'
BUCKET_URL = 'http://imagebucketnameforcade.s3-website-us-east-1.amazonaws.com/'
SQS_QUEUE_URL = ''
THEME = 'default'
FLASK_DEBUG = 'true'