# Available configuration values. May be provided in a file that
# the APP_CONFIG environment variable points to, or provided
# directly in the application.py code.
AWS_REGION = 'us-east-1'
IMAGE_INDEX_TABLE = 'image_index_table'
IMAGE_BUCKET = 'imagebucketnameforcade'
BUCKET_URL = 'https://imagebucketnameforcade.s3.amazonaws.com/'
SQS_QUEUE_URL = 'https://sqs.us-east-1.amazonaws.com/585411877007/awseb-e-wvidvwptp2-stack-AWSEBWorkerQueue-18IQAES6551L9'
THEME = 'default'
FLASK_DEBUG = 'true'